@font-face {
    font-family: "Bulgatry";
    src: url('bulgatry.personal-use.woff')  format('woff'),
      url('bulgatry.personal-use.woff')  format('woff'),;
    font-weight: normal;
    font-style: normal;
  }

  