* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Palatino Linotype";
}

header {
  position: relative;
  min-height: 70px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

li {
  list-style: none;
  font-family: "Ethereal Thin";
}

a {
  text-decoration: none;
  color: #fff;
  font-family: "Ethereal Thin";
}

body {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
@font-face {
  font-family: 'Ethereal Thin';
  src: url('ethereal.thin.woff')  format('woff'),
    url('ethereal.thin.woff')  format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bulgatry";
  src: url('bulgatry.personal-use.woff')  format('woff'),
    url('bulgatry.personal-use.woff')  format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Palatino Linotype";
  src: url('PalatinoLinotype.woff')  format('woff'),
    url('PalatinoLinotype.woff')  format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ethereal Thin';
  src: url('../fonts/bulgatry.personal-use.woff')  format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bulgatry";
  src: url('../fonts/bulgatry.personal-use.woff')  format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Palatino Linotype";
  src: url('../fonts/PalatinoLinotype.woff')  format('woff');
  font-weight: normal;
  font-style: normal;
}
/* navbar stars  */

.navbar {
  position: fixed;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;
  z-index: 9999;
  overflow: hidden;
  color: #fff;
  background-color: #000000;
}

#main {
  background-color: rgb(255, 255, 255);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  /* margin-top: 20px; */
  padding: 0 100px;
  /* background-color: red; */
}

.nav-item a {
  font-size: 1.5vw;
  font-family: "Ethereal Thin";
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: #ff9d00;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.logo {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

/* navbar ends  */

/* Responsive Design Starts here  */

@media (max-width: 767px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 50px;
    gap: 0;
    flex-direction: column;
    background-color: #000;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
    font-size: 1.5rem;
  }
  .nav-item a {
    font-size: 1.5rem;
  }

  .nav-menu.active {
    height: 80%;
    left: 0;
  }

  .logo {
    display: block;
  }

  section .borderdiv,.categoriescontents{
    top: 0;
    left: 0;
  }

  section .homediv .borderdiv h1 {
    font-size: 2.2vh;
    text-align: center;
  }
  section .hometextdiv h1{
    font-size: 1.8vw;
  }
  
  section .homediv {
    height: 50vh;
  }
  #filmsubmission .youtubediv {
    overflow: hidden;
    width: 90%;
  }

  section #pg7maincontents {
    display: none;
  }
  section #facilities .photodiv .image {
    height: 150px;
    width: 150px;
  }

  section #facilities .photodiv {
    width: 80vw;
  }
  section 
  #facilities h1 {
    margin: 1vh 0;
    font-size: 2.5vh;
  }
  .photocontainer .gallery .dream{
    width: 100%;
      display: flex;
      flex-direction: column;
    }
  #main footer h5, #main footer i{
    font-size: 1.2vh;
  }
  .container .slide-text {
    width: 550px;
  }
  section #home,#filmsubmission {
    flex-wrap: wrap;
  }
  section .hometextdiv h4, section .photocontainer h4, section #facilities h4 {
    /* text-align: justify; */
    font-size: 2.5vh;
  }
  #main section .borderdiv{
    padding: 10px;
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  section #home,#filmsubmission {
    flex-wrap: wrap;
  }
  /* section .hometextdiv {
    width: 600px;
  } */
  #filmsubmission .youtubediv {
    overflow: hidden;
    width: 90%;
  }
  .hometextdiv h4,.photocontainer h4 {
    text-align: justify;
  }
}


/* Home Page Starts Here */

#home {
  position: relative;
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* flex-wrap: nowrap; */
  align-items: center;
  gap: 10px;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

.homediv {
  height: 60vh;
  width: 50vw;
  min-width: 420px;
  display: flex;
  align-items: flex-end;
  justify-content: baseline;
  border: 3px solid white;
  /* background-color: aqua; */
}

.borderdiv {
  position: relative;
  top: 2vh;
  /* left: 2vh; */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 0 40px;
}

.borderdiv h1 {
  font-size: 1.5vw;
  font-weight: 600;
  font-family: "Palatino Linotype";
  text-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.imgdiv {
  height: 40vh;
  width: 100%;
  background-color: rgb(247, 182, 5);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  overflow: hidden;
}
.imgdiv img {
  height: 100%;
  scale: 1;
  width: 100%;
  object-fit: cover;
  object-position: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.hometextdiv {
  /* min-height: 50vh; */
  width: 720px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  /* background-color: red; */
  padding: 10px;
}
.hometextdiv h1,.photocontainer h1 {
  font-size: 2.5vh;
  font-family: "Bulgatry";
  font-weight: 100;
  letter-spacing: 10px;
  margin: 5vh;
  line-height: 7vh;
  text-align: center;
  color: rgb(255, 255, 255);
  border-bottom: 2px solid #ff9d00;
}
.hometextdiv h4 {
  font-size: 2.8vh;
  color: #fff;
  font-family: "Palatino Linotype";
  font-weight: 300;
  text-align: center;
}
#facilities h4 {
  font-size: 2.8vh;
  color: #030303;
  font-family: "Palatino Linotype";
  font-weight: 300;
  text-align: center;
}
.hometextdiv button {
  position: relative;
  background: #ffffff;
  color: #000000;
  font-size: 3.5vh;
  padding: 0.4rem 3rem;
  margin: 3vh 0;
  font-family: "Palatino Linotype";
  border: none;
  /* border-radius: 30px; */
  font-weight: 600;
  cursor: pointer;
}


#filmsubmission {
  padding: 2vh 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  background-color: rgb(255, 255, 255);
}

#filmsubmission h4 {
  color: #000;
  font-size: 2.8vh;
}

#filmsubmission button {
  background: black;
  color: #fff;
  cursor: pointer;
}
.youtubediv {
  overflow: hidden;
  width: 50%;
  /* Keep it the right aspect-ratio */
  aspect-ratio: 16/9;
  /* No clicking/hover effects */
  pointer-events: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
iframe {
  /* Extend it beyond the viewport... */
  width: 300%;
  height: 100%;
  /* ...and bring it back again */
  margin-left: -100%;
}

#facilities {
  padding: 5vh 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Palatino Linotype";
  text-align: center;
  flex-direction: column;
  overflow: hidden;

}

#facilities h1 {
  margin: 1vh 0;
  font-size: 4vh;
  letter-spacing: 0.5vh;
  font-family: "Ethereal Thin";
  color: rgb(0, 0, 0);
  border-bottom: 2px solid #ff9d00;
  padding: 0 1vh;
}

#facilities span {
  color: #f7b605;
}
.slider_container {
  height: 60vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5vh;
  overflow: hidden;
  /* background-color: purple; */
}

.swiper {
  position: relative;
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
  /* background-color: #daf277; */
  /* overflow: hidden; */
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}
.photodiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 55vh;
  min-width: 20vw;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  padding: 0 1vh;
  font-family: "Palatino Linotype";
  text-align: center;
}
.imgsntxt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-bottom: 2px solid black;
  overflow: hidden;
}
.photodiv .image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}
.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  scale: 1;
  transition: ease-in-out 2s;
}

.photodiv img:hover {
  scale: 1.1;
  cursor: pointer;
}

.reviewimage {
  height: 60vh;
  min-width: 20vw;
  /* background-color: #daf277; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.reviewimage img {
  height: 100%;
  width: 100%;
}
.imgsntxt h2 {
  margin-top: 1vh;
  font-size: 3.2vh;
  font-family: "Palatino Linotype";
  font-weight: 600;
  color: #000000;
}
.photodiv h3 {
  font-size: 2.5vh;
  font-family: "Palatino Linotype";
  color: #000000;
  font-weight: 300;
}
.yellowtxt {
  color: #f7b605;
}

#testimonials {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}
.tweets {
  /* width: 100%; */
  position: relative;
  /* height: 40vh; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Palatino Linotype";
  /* background-color: red; */
  gap: 50px;
  animation: my-animation 20s linear infinite;
}
.tweets2 {
  /* width: 100%; */
  position: relative;
  /* height: 40vh; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Palatino Linotype";
  gap: 20px;
  animation: my-anim 20s linear infinite;
}
.tweets h1,
.tweets2 h1 {
  width: 100vw;
  display: inline-block;
  font-size: 4vh;
  text-align: center;
  font-family: "Palatino Linotype";
  color: #fff;
}

@keyframes my-animation {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes my-anim {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

#pg7maincontents {
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
  font-family: "Palatino Linotype";
  padding-top: 5vh;
}

#pg71 {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  padding: 0 3vw;
  align-items: flex-start;
  position: relative;
  border-bottom: 2px solid rgb(255, 196, 0);
  overflow: hidden;
}
#pg71 a {
  color: white;
  cursor: pointer;
}

#pg71 h1 {
  font-size: 2.8vw;
  text-align: center;
  font-family: "Palatino Linotype";
  font-weight: 200;
}
#pg71 h2 {
  font-size: 2vw;
}
#pg71 h4 {
  font-size: 1.2vw;
}
#col1 {
  width: 23vw;
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#col4 {
  display: flex;
  gap: 2vw;
  align-items: center;
  justify-content: center;
  background-color: rgb(77, 4, 4);
}
#cont {
  display: flex;
  align-items: center;
  font-size: 2vw;
  margin: 2vh 0;
  cursor: pointer;
}

#cont img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin: 0 1vw;
}

footer {
  /* height: 5vh; */
  width: 100%;
  background-color: #000000;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Palatino Linotype";
  padding: 2vh 1vw;
}
footer i {
  font-size: 2.2vh;
  margin: 0 1.2vw;
}

footer h5 {
  font-size: 2vh;
  font-family: "Palatino Linotype";
  font-weight: 200;
}

/* Events Page Starts here  */

.icons {
  display: flex;
  align-items: center;
}

section #events {
  position: relative;
  min-height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

.eventdiv {
  position: relative;
  top: 2vh;
  left: 2vh;
  height: 100%;
  width: 100%;
  background-image: url(./img/evnetsimg/DHE_8973.JPG);
  animation: chngbg 20s linear infinite;
  background-position: center;
  background-size: cover;
}

@keyframes chngbg {
  100% {
    background-image: url("./img/evnetsimg/IG0A6270.JPG");
  }
  75% {
    background-image: url("./img/evnetsimg/FAI09051.JPG");
  }
  50% {
    background-image: url("./img/evnetsimg/FAI09070.JPG");
  }
  25% {
    background-image: url("./img/evnetsimg/FAI09088.JPG");
  }
  0% {
    background-image: url("./img/evnetsimg/DHE_8973.JPG");
  }
}
#upeve {
  position: relative;
  min-height: 70vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}
.upevents {
  position: relative;
  top: 2vh;
  right: 2vh;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(./img/evnetsimg/DSC_3157.JPG);
}

.risingdiv {
  height: 100%;
  width: 100%;
  position: relative;
  top: 2vh;
  right: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.risingimg {
  height: 100%;
  width: 100%;
}
.risingimg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}

.container {
  min-height: 40vh;
  margin-top: 2vh;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: "Palatino Linotype";
  overflow: hidden;
  transition: 0.5s all;
  background-color: #000;
  color: #fff;
}

.slide-container {
  height: 100%;
  display: flex;
  width: calc(850px * 14);
  animation: scroll 30s linear infinite;
  gap: 100px;
  align-items: center;
  justify-content: center;
  transition: 0.2s all;
}

@keyframes scroll {
  0% {
    transform: translateX(calc(-850px * 5));
  }

  100% {
    transform: translateX(0);
  }
}

.slide-text {
  /* height: 850px; */
  width: 850px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  perspective: 100px;
  /* background-color: red; */
  text-align: center;
}

.slide-text h1{
  transition:0.2s all;
  font-size: 2.5vh;
  font-family: "Palatino Linotype";
  font-weight: 400;
}

.slide-container:hover{
  animation-play-state: paused;
}
.container:hover{
  /* animation-play-state: paused; */
  /* animation-name: none; */
  cursor: pointer;
}

.slide-text h1:hover{
  /* font-size: 2.9vh; */
  scale: 1.2;
  /* color: #ffffff; */
  /* background-color: #000; */
  padding: 2vh;
}


/* Categories CSS starts here */

.categoriescontents{
  position: relative;
  top: 2vh;
  right: 2vh;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  background-color: #ffffff;
  border: 2px solid rgb(255, 255, 255);
}
.categoriessubcontents{
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #000;
  color: #fff;
  padding: 2vh;
  cursor: pointer;
}
.categoriessubcontents h3{
  font-size: 2vh;
}
.categoriessubcontents h1{
  font-size: 2vh;
}
.categoriessubcontents:hover.categoriessubcontents h3{
  border-radius: 50%;
  border: 2px solid #fff;
  padding: 1.5vh;
} 
.categoriessubcontents:first-child h3{
  border-radius: 50%;
  border: 2px solid #fff;
  padding: 1.5vh;
}
.categoriessubcontents:first-child .catimgbox{
  opacity: 1;
  display: flex;
}

.categoriessubcontents i{
  font-size: 2vh;
}
.catimgbox{
  position: relative;
  height: 15vh;
  width: 10vw;
  transition: 1s all;
  opacity: 0;
  border: 2px solid #fff;
  overflow: hidden;
  transform: rotate(-14deg);
  /* display: none; */
}

.catimgbox img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.categoriessubcontents:hover.categoriessubcontents>.catimgbox{
  opacity: 1;
  display: flex;
}
.categoriessubcontents:hover,.categoriessubcontents:first-child.categoriessubcontents.catimgbox{
  opacity: 1;
  display: flex;
}
.hometextdiv h5{
  font-size: 2vh;
  font-family: "Palatino Linotype";
  font-weight: 400;
  text-align: justify;
}

.hometextdiv span{
  font-weight: 800;
  font-size: 2.5vh;
}

.photocontainer{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 50px;
  background-color: #000000;
}

.gallery{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content:space-between;
  flex-wrap: wrap;
}
.dream img{
  border: 2px solid #fff;
  width: 100%;
}

.dream{
width: 33%;
  display: flex;
  flex-direction: column;
}

.contactdet{
  width: 100%;
  /* background-color: ; */
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-around;
  padding: 2vh;
  flex-wrap: wrap;
}
.contactdet i{
  font-size: 3vh;
}
.subdet{
  /* background-color: rgb(33, 167, 15); */
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  padding: 1vh;
  gap: 1.2vh;
}

.addr{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.iconz{
  width: 30%;
  display: flex;
  gap: 2vh;
  /* justify-content: space-around; */
  align-items: flex-start;
  /* background-color: purple; */
}
